[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
codecov = ">=2.0.15"
coverage = ">=4.4.1"
nose = ">=1.3.7"
rednose = ">=1.2.2"
wheel = "*"

[packages]
google-api-python-client = ">=1.3.2"
"httplib2" = ">=0.10.3"
"oauth2client" = ">=3.0.0"
"progressbar2" = ">=3.34.3"
# Unable to use non-unicode strings: https://github.com/google/protorpc/issues/26
protorpc = "==0.11.1"
requests = ">=2.18.4"
# Transitive Dependency having issues: https://github.com/benjaminp/six/issues/210
six = "==1.10.0"

[requires]
python_version = "2.7"
